/* PHASE 4: Footer */
.footer {
  display: flex;
  justify-content: space-between;
  width: 902px;
  border: 1px solid #ccc;
  border-top: 0;
  padding: 20px;
  background-color: white;
  margin: 0 auto;
  box-sizing: border-box;
  font-size: 14px;
  color: #aaa;
  border-radius: 0px 0px 5px 5px;
}

.footer ul {
  display: flex;
  flex-direction: row;
}

.footer li {
  padding: 0px 0px 0px 20px;
}
